# Python artifacts
__pycache__/
*.py[cod]
*$py.class

# IDE settings (PyCharm/VS Code)
.idea/
.vscode/
*.iml

# Virtual Environment
.venv/
venv/
ENV/

# Project Data (Crucial for keeping the repo light)
NSL-KDD/
*.csv
*.txt
*.zip

# OS artifacts
.DS_Store
Thumbs.db